*.swp
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
**/build
.vscode/*
*google-services.json
**/.settings
**/.project
**/.classpath
.DS_Store
*.apk
gradlew
gradlew.bat
exampleAdvancedCameraCapturer/debug/output-metadata.json
exampleAdvancedCameraCapturer/release/output-metadata.json
